pygame-ce
psutil # in order to get information about memory usage
pygame_gui>=0.6.4  # in order to display dialog windows
pyyaml >=6.0 # for yaml support
pytmx # for TIled maps
toml # for toml format support
pgbitmapfont>=0.1.5
pgconsole>=0.1.1